<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Artoon2d Blog{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}Default blog description{% endblock %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'artoon2d_blog/css/style.css' %}">
</head>
<body>
    <div class="page_wrapper">
        
    <header>
        {# Navigation bar #}
        <nav class="navbar">
            <ul>
                <li><form action="{% url 'home' %}" method="get">
                    <button class="nav-button {% if request.resolver_match.url_name == 'home' %}active{% endif %}">Artoon2d Blog</button>
                </form></li>
                <li><form action="{% url 'post_list' %}" method="get">
                    <button class="nav-button {% if request.resolver_match.url_name == 'post_list' %}active{% endif %}">Posts</button>
                </form></li>
                {% if user.is_authenticated %}
                <li><form action="{% url 'post_create' %}" method="get"><button class="nav-button">New Post</button></form></li>
                <li><form action="{% url 'logout' %}" method="post">{% csrf_token %}<button class="nav-button">Logout</button></form></li>
                {% else %}
                <li><form action="{% url 'login' %}" method="get"><button class="nav-button">Login</button></form></li>
                <li><form action="{% url 'register' %}" method="get">
                    <button class="nav-button {% if request.resolver_match.url_name == 'register' %}active{% endif %}">Register</button>
                </form></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    {# Sidebar with recent posts #}
    <aside class="sidebar_recent">
        <h3>Recent Posts</h3>
        <ul>
            {% for recent_post in recent_posts %}
                <li><a href="{% url 'post_detail' recent_post.pk %}">{{ recent_post.title }}</a></li>
            {% endfor %}
        </ul>
    </aside>
    <main class="content">
    <div>
        {# Breadcrumbs block #}
        {% block breadcrumbs %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
    </main>
    <footer>
        <p>&copy; 2025 Artoon2d Blog</p>
    </footer>
    {% load static %}
    <script src="{% static 'artoon2d_blog/assets/js/scripts.js' %}"></script>
</div>
</body>
</html>
