{% extends 'artoon2d_blog/base.html' %}
{% load static %}
{% block title %}Welcome to ARTOON2D Blog{% endblock %}

{% block content %}
    <header></header>
    
    {# Sidebar with recent posts #}
        {% include 'artoon2d_blog/sidebar.html' %}
<div class="hero">
    <h1>Hello!</h1>
    <a href="{% url 'post_list' %}">VIEW BLOG POSTS</a>
</div>
<div class="featured-posts">
    <h2>Featured Posts</h2>
    <ul>
        {% for post in featured_posts %}
            <li>
                <h3>{{ post.title }}</h3>
                <p>{{ post.summary }}</p>
                <a href="{% url 'post_detail' post.pk %}">Read More</a>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="carousel">
  <div class="carousel-track" style="  display: flex;
    transition: transform 0.5s ease-in-out;
    width: 50%;
    border-radius: 0.7rem;
    ">
    {% for post in posts %}
      {% if post.image %}
        <img src="{{ post.image.url }}" class="carousel-slide" alt="{{ post.title }}" style= "border-radius:0.7rem; width:30%; margin: 0.7rem;">
      {% endif %}
    {% endfor %}
  </div>
  <button class="carousel-btn prev"><</button>
  <button class="carousel-btn next">></button>
  <script src="{% static 'artoon2d_blog/js/scripts.js' %}"></script>
</div>

{% endblock %}
