{% extends 'artoon2d_blog/base.html' %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <form method="post" action="{% url 'like_post' post.id %}" class="likes-form">
    {% csrf_token %}
    <button type="submit">
      {% if user in post.likes.all %}
        ❤️ Unlike
      {% else %}
        🤍 Like
      {% endif %}
    </button>
    <span class="like-count">{{ post.likes.count }} likes</span>
  </form>
  
    <article>
        <h2>{{ post.title }}</h2>
        {# Show author and created date #}
        <p><strong>By:</strong> {{ post.author }} | <strong>Published:</strong> {{ post.created_at|date:"F j, Y" }}</p>
        <p><em>{{ post.created_at|timesince }} ago</em></p>
        {% include 'artoon2d_blog/components/follow_button.html' with target_user=post.author is_following=post.author.is_following follower_count=post.author.follower_count %}

        {# Show updated date only if different from created date #}
        {% if post.updated_at > post.created_at %}
            <p><em>Updated on {{ post.updated_at|date:"F j, Y" }}</em></p>
        {% endif %}

        {# Show category and theme if exists #}
        {% if post.category %}
            <p><strong>Category:</strong> {{ post.category.name }}</p>
        {% endif %}

        {% if post.theme %}
            <p><strong>Theme:</strong> {{ post.theme }}</p>
        {% endif %}


        {# Show content with linebreaks #}
        <div>
            {{ post.content|linebreaks }}
        </div>

        {% if post.image %}
            <div>
                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="post-img">
            </div>
        {% endif %}
        {% if user == post.author %}
            <a href="{% url 'post_update' post.pk %}">Edit Post</a>
        {% endif %}

        {# Show tags if exists #}
        {% if post.tags.all %}
            <p><strong>Tags:</strong>
                {% for tag in post.tags.all %}
                    {{ tag.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        {% endif %}
        {# Link to go back to post list #}
        <p><a href="{% url 'post_list' %}">← Back to all posts</a></p>
    </article>
{% endblock %}